@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-vinfast-blue: #00358E;
  --color-vinfast-white: #FFFFFF;
  --color-vinfast-gray: #F5F5F5;
  --font-sans: var(--font-be-vietnam);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-be-vietnam), sans-serif;
}

/* Custom Typography Overrides */
.prose ul {
  list-style-type: disc !important;
  padding-left: 1.5rem !important;
}

.prose ol {
  list-style-type: decimal !important;
  padding-left: 1.5rem !important;
}

.prose p {
  text-align: justify !important;
  text-justify: inter-word;
}

.prose p:empty::before,
.prose p br::before {
  content: '\00a0';
  /* Tạo một khoảng trắng không ngắt */
  display: block;
  height: 1rem;
  /* Độ cao của dòng trống bạn muốn */
}

/* Xử lý ảnh float hoặc align */
.prose img {
  @apply rounded-xl max-w-full h-auto object-cover;
}

/* Xử lý Responsive cho màn hình dưới 1024px (Mobile & Tablet) */
@media (max-width: 1024px) {
  /* Nếu Editor xuất ra Table để chia cột */
  .prose table {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .prose td, .prose th {
    display: block;
    width: 100% !important;
  }
  
  /* Nếu dùng extension Columns của TipTap (thường có thuộc tính data-type="columns") */
  .prose [data-type="columns"] {
    display: flex !important;
    flex-direction: column !important;
    gap: 1rem !important;
  }
  .prose [data-type="column"] {
    width: 100% !important;
  }
}